@model SafeQuake.MVC.Models.UserViewModel

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<div class="container">
    <h1>Detalhes do Usuário</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Criado em</dt>
                <dd class="col-sm-9">@Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")</dd>
            </dl>

            <div>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div> 