@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao SafeQuake</h1>
    <p>O SafeQuake é uma plataforma de monitoramento de terremotos que permite aos usuários reportar e receber alertas sobre terremotos em suas regiões.</p>
</div>
